{
  "secret_path": "{{ vault_secret_path }}",
  "secret_attr": "{{ vault_secret_field }}",
  "secret_pw": "{{ lookup('hashi_vault', 'secret={{ vault_secret_path }}:{{ vault_secret_field}} token={{ vault_token }} url={{ vault_http_addr }}') }}",
  "secret_name": "{{ lookup('hashi_vault', 'secret={{ vault_secret_path }}:{{ vault_secret_field}} token={{ vault_token }} url={{ vault_http_addr }}') }}"
}
